.header{
  overflow-y: hidden;
  height: 70vh; 
}
.eve h2{
  font-size: 30px;
  font-weight: 600;
}
.eve2{
  width: 85%;
  margin: auto;
  text-align: center;
  margin-top: 30px;
}
.clear-fix:after {
  display: block;
  clear: both;
  content: '';
}
.img-responsive {
  max-width: 100%;
  height: auto;
  transition: transform 0.5s ease-in-out;
}
.card__collection {
  position: relative;
  
  padding: 10px;
  overflow: hidden;
  left:50px;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__collection .cards {
  width: 300px;
  height: 400px;
  display: block;
  background-size: cover;
  float: left;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  background-position: center;
  margin: 10px;
  
  transition: 0.5s;
}

.card__collection .cards--two {
  position: relative;
  backface-visibility: hidden;
}
.card__collection .cards--two p {
  position: absolute;
  top: 85%;
  left: 8%;
  /*left: -100%;*/
  text-transform: capitalize;
  color: #fff;
  font-size: 30px;
  z-index: 8;
  /*transition: all 0.6s ease;*/
}
/*
.card__collection .cards--two:hover p {
  left: 8%;
}
*/
.card__collection .cards--two:hover img {
  transform: scale(1.1);   /*translateY(-15px);*/
  transition: all 0.8s ease;
}
.card__collection .cards--two:hover .cards--two__rect {
  top: 75%;
}
.card__collection .cards--two:hover .cards--two__rect:before {
  transform: translateY(15px);
}
.card__collection .cards--two:hover .cards--two__tri {
  right: -40%;
}
.card__collection .cards--two:hover .cards--two__tri:before {
  right: -312px;
}
.card__collection .cards--two img {
  transition: all 1.5s ease; /* slow after */
}
.card__collection .cards--two__tri {
  border-top: 220px solid transparent;
  border-bottom: 190px solid transparent;
  border-right: 288px solid #fff;
  opacity: 0.9;
  position: absolute;
  display: block;
  top: 0;
  right: -230%;
  transition: all 0.3s ease-in-out;
}
.card__collection .cards--two__tri:before {
  border-top: 220px solid transparent;
  border-bottom: 190px solid transparent;
  border-right: 288px solid #6b6b6b;
  position: absolute;
  content: '';
  display: block;
  top: -220px;
  right: -612px;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.2s;
}
.card__collection .cards--two__rect {
  width: 750px;
  height: 200px;
  background: #fff;
  display: block;
  position: absolute;
  top: 175%;
  left: -78%;
  transform: rotate(30deg);
  z-index: 5;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}
.card__collection .cards--two__rect:before {
  content: '';
  display: block;
  width: 100%;
  position: relative;
  height: 100%;
  background: #f44336;
  transform: translateY(200px);
  z-index: 2;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.1s;
}

@media(max-width:700px){
  .eve2{
      width: 100%;
  }
  .card__collection{
      flex-direction: column;   /* to flex the box in row to column*/
      left: 0%;
  }
  .card__collection .cards {
      width: 275px;
      height: 400px;
  }
}
@media(max-width:1180px){
  .card__collection{
      flex-direction: column;   /* to flex the box in row to column*/
      left: 0%;
  }
}
