@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Patrick+Hand&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  cursor: url("data:image/svg+xml,%3Csvg width='8mm' height='8mm' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' r='3.5' style='fill:%23f44336;opacity:.7;'/%3E%3C/svg%3E"), auto;  
}
.header{
  /*overflow-y: hidden;*/
  
}